$def with (page)

<html>
<head>
    <title>Alexis Nieto</title>
    <style>
        
    </style>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
<link href="static/css/bootstrap.min.css" rel="stylesheet" media="screen"> 
<div class="navbar navbar-inverse"> 
    <a class="navbar-brand" href="#">Tecnologia Telefonica</a> 
    <ul class="nav navbar-inverse"> 
        <li class="active"><a href="/">Inicio</a></li> 
        <li><a href="/new">Nuevo Producto</a></li>


    </ul> 

    </div>
    $:page
    </head>
    <body>
</body>
</html>